# Loops

In [ ]:
Loop: A loop statement allows to execute a statement or 
    group of statements multiple times

In [ ]:
1.for loop
2.while loop

In [ ]:
Advantages of Loops:
    1.It provides code re-usability
    2.we do not need to write the same code again and again

In [1]:
# print your name 10 times
print("vanitha")
print("vanitha")
print("vanitha")
print("vanitha")
print("vanitha")
print("vanitha")
print("vanitha")
print("vanitha")
print("vanitha")
print("vanitha")

vanitha
vanitha
vanitha
vanitha
vanitha
vanitha
vanitha
vanitha
vanitha
vanitha

In [2]:
for i in range(1,11):
    print("vanitha")

vanitha
vanitha
vanitha
vanitha
vanitha
vanitha
vanitha
vanitha
vanitha
vanitha

In [ ]:
syntax of for loop:
    
    for value in range(start,end,stepcount(or)increment/decrement):
        statements

In [ ]:
for loop:- 
    A for loop is used for iterating over a sequence(i.e string,
    list,tuple,dictionary,set) with the for loop we can execute a set of
    statements

In [ ]:
range():
    The range() function is used to generate the sequence of the numbers

In [10]:
# printing natural numbers from 1 to 10
for i in range(1,11,1): # i=1 i=2 .......10 11
    print(i,end=' ')   # 1  2 ....10

1 2 3 4 5 6 7 8 9 10

In [12]:
for i in range(1,11,3): # i=1 i=2 .......10 11
    print(i,end=' ')   # 1  2 ....10

1 4 7 10

In [33]:
for i in range(11):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9 10

In [13]:
# 10 to 1 numbers printing
# 10 9 8 7 6 5 4 3 2 1
for i in range(10,0,-1): i=10 i=9..................1
    print(i,end=' ')   10 9................1

10 9 8 7 6 5 4 3 2 1

In [15]:
# 10 8 6 4 2
for i in range(10,0,-3):
    print(i,end=' ')

10 7 4 1

In [16]:
n=int(input('Enter any number: '))
for i in range(1,n+1):
    print(i,end=' ')

Enter any number: 50
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

In [18]:
m=int(input('Enter starting range: '))
n=int(input('Enter ending range: '))
for i in range(m,n+1):
    print(i,end=' ')

Enter starting range: 50
Enter ending range: 100
50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [21]:
# 1 to 10 numbers total
# 55
total=0
for i in range(1,11):   # i=1  i=2   i=3   i=4 ..............10
    total=total+i     # 0+1=1  1+2=3  3+3=6   6+4=10 ..........55
print(total)

55

In [22]:
s1=int(input())
s2=int(input())
s=0
for i in range(s1,s2+1):
    s=s+i
print(s)

1
100
5050

In [ ]:
# printing multiplication table
# 6
# 6 x 1 = 6
  6 x 2 = 12
    .
    .
    .
  6 x 10 = 60

In [24]:
n=int(input('Enter any number: '))
for i in range(1,21):
    print(n,'x',i,'=',n*i)

Enter any number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60
5 x 13 = 65
5 x 14 = 70
5 x 15 = 75
5 x 16 = 80
5 x 17 = 85
5 x 18 = 90
5 x 19 = 95

In [ ]:
# factors
# 10
# 1 2 5 10

In [25]:
n=int(input('Enter any number: ')) # 10
for i in range(1,n+1):  # i=1 i=2 i=3 I=4 5 6 7 8 9 10 11
    if(n%i==0): # 10%10==0(T)  
        print(i,end=' ') # i=1  2  5 10

Enter any number: 10
1 2 5 10

In [ ]:
# prime number
# 2 : 1,2= 2
# 5 : 1,5 = 2
# 7 : 1,7 = 2
# 11 : 1,11= 2
factors count= 2

In [29]:
n=int(input())   # 3
f_count=0  # 0
for i in range(1,n+1):  #(1,3)   i=2  i=3
    if(n%i==0):  # 3%3==0(T)
        f_count=f_count+1  0+1=1  1+1=2
print("factors count=",f_count)  # 2
if(f_count==2):  # 2==2(T)
    print("Prime Number")
else:
    print("Not a Prime Number")

3
factors count= 2
Prime Number

In [34]:
# Perfect Number
# given number= sum of factors except itself factor
# 6
# 1 2 3 6 = 1 2 3 =1+2+3=6
v=int(input())
f_sum=0
for i in range(1,v):
    if(v%i==0):
        f_sum=f_sum+i
print("Factors sum=",f_sum)
if(f_sum==v):
    print("Perfect Number")
else:
    print("Not Perfect Number")

SyntaxError: invalid syntax (<ipython-input-34-b20414da5155>, line 11)

# while loop

While loop is used to execute a block of statements repeatedly until
a given contion is satisfied.And when the condition becomes false,the line
immediately after the loop in program is executed.

In [ ]:
syntax of while loop

initialization
while(condition):
    statements
    updation(increment/decrement)

In [38]:
#printing 1 to 10 numbers using while loop
i=5
while(i<=11): 
    print(i,end=' ')
    i=i+2

5 7 9 11

In [44]:
# printing 10 to 1 numbers using while loop
i=10
while(i>=1):
    print(i,end=' ')
    i=i-2

10 8 6 4 2

In [43]:
n=int(input())
i=1
while(i<=n):
    print(i,end=' ')
    i=i+1

50
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50