# Data Structure

- A way of organizing and storing data

- list
- tuple
- dictionary
- set

# List

In [ ]:
- Lists are used to store multiple items in a single variable

In [2]:
# empty list
li=[]
print(li)
print(type(li))

[]
<class 'list'>

In [3]:
li1=[3,4,6,"python","workshop",4.6,2.8]
print(li1)

[3, 4, 6, 'python', 'workshop', 4.6, 2.8]

In [6]:
# min,max,sum,len,sorted
l=[3,4,5,2,4,9]
print(min(l))
print(max(l))
print(sum(l))
print(len(l))
print(sorted(l))

2
9
27
6
[2, 3, 4, 4, 5, 9]

In [7]:
# slicing
l1=[5,6,2,3,4,7]
print(l1[1:5])

[6, 2, 3, 4]

In [8]:
l1[-1]

7

In [9]:
l1[::-1]

[7, 4, 3, 2, 6, 5]

In [ ]:
# lists are mutable

In [10]:
l1

[5, 6, 2, 3, 4, 7]

In [11]:
l1[2]=56
print(l1)

[5, 6, 56, 3, 4, 7]

In [12]:
# nested list
d=[4,5,6,[2,3,4],55,12]
print(d)

[4, 5, 6, [2, 3, 4], 55, 12]

In [13]:
d[3]

[2, 3, 4]

In [14]:
d[3][1]

3

In [15]:
d[3][2]

4

In [16]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [18]:
# append
li=[3,4,2,3,67,89]
print(li)
li.append(77)
print(li)

[3, 4, 2, 3, 67, 89]
[3, 4, 2, 3, 67, 89, 77]

In [21]:
# count
li=[3,4,3,3,3,4,2,3,67,89]
print(li.count(4))
print(li.count(3))

2
5

In [23]:
# index
print(li.index(89))
print(li.index(67))

9
8

In [24]:
# sort
li=[3,4,3,3,3,4,2,3,67,89]
li.sort()
print(li)

[2, 3, 3, 3, 3, 3, 4, 4, 67, 89]

In [25]:
# reverse()
li=[3,4,3,3,3,4,2,3,67,89]
li.reverse()
print(li)

[89, 67, 3, 2, 4, 3, 3, 3, 4, 3]

In [27]:
# insert()
k=[4,5,6,2,3,9]
print(k)
k.insert(2,56)
print(k)

[4, 5, 6, 2, 3, 9]
[4, 5, 56, 6, 2, 3, 9]

In [28]:
# remove()
j=[4, 5, 56, 6, 2, 3, 9]
j.remove(56)
print(j)

[4, 5, 6, 2, 3, 9]

In [29]:
# pop()
j.pop()
print(j)

[4, 5, 6, 2, 3]

In [30]:
# extend
l1=[23,45,11,78]
l2=[55,13,78,90]
l1.extend(l2)
print(l1)

[23, 45, 11, 78, 55, 13, 78, 90]

In [36]:
# copy()
li1=[23, 45, 11, 78]
li2=li1.copy()
print(li1)
print(li2)
li1.pop()
print(li1)
print(li2)

[23, 45, 11, 78]
[23, 45, 11, 78]
[23, 45, 11]
[23, 45, 11, 78]

In [38]:
# Assignment
a=[23, 45, 11, 78]
b=a
print(a)
print(b)
a.pop()
print(a)
print(b)

[23, 45, 11, 78]
[23, 45, 11, 78]
[23, 45, 11]
[23, 45, 11]

In [39]:
# clear
v=[23, 45, 11, 78]
v.clear()
print(v)

[]

In [44]:
li=[2,3,4,6,7,8,9,11]
for i in li: # i=2 3.......11
    print(i*i,end=' ') # 2 3......11

4 9 16 36 49 64 81 121

In [48]:
li1=[4,9,16,36,49,64,81,121]
for i in li1:
    if(i%2==0): # 64%2==0(T) 
        print(i,end=' ') # 4 16 36 64

4 16 36 64

In [50]:
# duplicates remove
# i/p: li=[12,34,25,12,10,10,3,12]
# o/p: [12,34,25,10,3]
li=[12,34,25,12,10,10,3,12]
li1=[]
for i in li:
    if i not in li1:
        li1.append(i) # 12 34 25 10 3 
print(li1)

[12, 34, 25, 10, 3]

In [51]:
# unique elements
# i/p: l=[12,34,25,12,10,10,3,12]
# o/p: [34,25,3]
l=[12,34,25,12,10,10,3,12]
li=[]
for i in l:   # 12
    if l.count(i)==1:  # count(3)-->1==1 (T)
        li.append(i)
print(li)

[34, 25, 3]

In [ ]:
tuple():
    -- Tuples are used to store multiple in a single variable
    -- Tuples are immutable..

In [52]:
t=()
print(t)
print(type(t))

()
<class 'tuple'>

In [53]:
t=(34,56,1.3,55,"answer","apple")
print(t)

(34, 56, 1.3, 55, 'answer', 'apple')

In [54]:
t1=(2,3,4,11,56,89,77)
print(min(t1))
print(max(t1))
print(sum(t1))
print(sorted(t1))
print(len(t1))

2
89
242
[2, 3, 4, 11, 56, 77, 89]
7

In [55]:
t1=(2,3,4,11,56,89,77)
t1[3]=67
print(t1)

TypeError: 'tuple' object does not support item assignment

In [57]:
t1[0:2]

(2, 3)

In [58]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [60]:
# count
t1=(2,3,4,4,2,56,411,2,2,2,2,2,56,89,77)
print(t1.count(4))
print(t1.count(2))

2
7

In [62]:
# index
print(t1.index(4))
print(t1.index(89))

2
13